:root { }
a { text-decoration: none; }

.sidebar-mobile-close-btn {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  z-index: 1003;
  border-radius: 999px;
}

#back-to-top {
  right: 1rem;
  bottom: 1rem;
}
